.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .item {
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .item:hover {
    background-color: #eee;
  }
  .selected {
    background-color: rgb(255, 0, 0);
  }
  .russian-word {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }
